{% extends 'base.html' %}

{% block title %}Lista de Proveedores{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Lista de Proveedores</h1>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'supplier_create' %}" class="btn btn-sm btn-primary float-right">Crear Proveedor</a>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Proveedores</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Nombre de Contacto</th>
                        <th>Teléfono</th>
                        <th>Correo Electrónico</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in suppliers %}
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td>{{ supplier.contact_name }}</td>
                        <td>{{ supplier.phone }}</td>
                        <td>{{ supplier.email }}</td>
                        <td class="d-flex justify-content-around align-items-center">
                            <a href="{% url 'supplier_detail' supplier.id %}" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i> Detalles</a>
                            <a href="{% url 'supplier_update' supplier.id %}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Editar</a>
                            <form action="{% url 'supplier_delete' supplier.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar este proveedor?');"><i class="fas fa-trash-alt"></i> Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
